.button {
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity ease .3s;
}

.button:not(:disabled):hover {
  opacity: .6;
}