.page {
  background-color: #000;
  box-sizing: border-box;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 960px) {
  .page {
    max-width: unset;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding-left: 19px;
    padding-right: 19px;
  }
}