.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  padding: 0;
  border: none;
  background: transparent url(../../../images/close.svg) center center;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 550px) {
  .popup__close {
    right: 0;
    top: -38px;
    width: 26px;
    height: 26px;
    background: transparent url(../../../images/close-2.svg) center center;
  }
}